/* Colors */
$primary: #000000;
$secundary: orange;
$text-color: white;

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Font-family */
$font-principal: 'Barlow', sans-serif;
$font-title: 'Roboto', serif;

/* Font-size */
$text-large: 5.2rem;
$text-medium: 2.2rem;
$text-base: 1.6rem;
$text-small: 1.4rem;