.grid_ubicacion{
    display: grid;
    grid-template-columns: 50% 50%;
}


.ubicacion{
    border: 2px solid $secundary;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    padding: 5px;
    font-size: $text-medium;
    font-family: $font-principal;
}
.ubicacion1{
    grid-column: 1/3;
    height: 50vh;
}

/* Media Querie */
@media (max-width: 1600px){
    .grid_ubicacion{
        display: flex;
        flex-direction: column;
    }
    .ubicacion p{
        font-size: $text-small;
    }
}